<div class="row">
    <div class="col-3"></div>
  <div class="col-6">
      <div class="register-form">
        <form [formGroup]="paymentform" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Payment Mode</label>
            <select formControlName="paymentMode" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && check.paymentMode.errors }">
            <option [ngValue]="null">-Select-</option>
              <option *ngFor="let list of patient_data">{{list.name}}</option>
            </select>
            <div *ngIf="submitted && check.paymentMode.errors" class="invalid-feedback">
              <div *ngIf="check.paymentMode.errors.required ">Payment Mode is required</div>
            </div>
          </div>
      
          <div class="form-group">
            <label>Payment Amount</label>
            <input type="text" formControlName="paymentAmount"  knifeOnlyNumbers class="form-control"
              [ngClass]="{ 'is-invalid': submitted && check.paymentAmount.errors }"/>
            <div *ngIf="submitted && check.paymentAmount.errors" class="invalid-feedback">
              <div *ngIf="check.paymentAmount.errors.required">Payment Amount is required</div>
              <div *ngIf="check.paymentAmount.errors.pattern">Payment Amount must be greater than Zero</div>
            </div>
          </div>
      
          <div class="form-group">
            <label>Payment Remarks</label>
            <textarea type="textarea" formControlName="paymentRemarks" class="form-control" maxlength="500" [ngClass]="{ 'is-invalid': submitted && check.paymentRemarks.errors }"></textarea>
            <div *ngIf="submitted && check.paymentRemarks.errors" class="invalid-feedback">
              <div *ngIf="check.paymentRemarks.errors.required">Payment Remarks is required</div>
            </div>
          </div>
      
          <div class="form-group d-flex">
            <button type="submit" class="btn btn-primary" [disabled]="!paymentform.valid">Submit</button>
          </div>
        </form>
      </div>
  </div>
  <div class="col-3"></div>
  </div>